In [1]:
import numpy as np

In [2]:
x=np.zeros((4,4))
x

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [3]:
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [4]:
np.empty((4,5))

array([[1.19826629e-311, 6.27463370e-322, 0.00000000e+000,
        0.00000000e+000, 1.89146896e-307],
       [5.30276956e+180, 1.02941932e-071, 6.97666940e-076,
        3.65804228e-086, 3.35708907e-143],
       [6.01433264e+175, 6.93885958e+218, 5.56218858e+180,
        3.94356143e+180, 1.24454615e-047],
       [1.91982579e-052, 1.27778469e+161, 1.25647736e-071,
        4.66206704e-143, 1.50008929e+248]])

In [5]:
l=[1,2,3,4]
l
np.array(l)

array([1, 2, 3, 4])

In [6]:
x=np.arange(1,100,20)
x
x.shape

(5,)

In [7]:
x=np.zeros((10,10))
x.shape

(10, 10)

In [8]:
y=x.reshape((2,2,5,5))
y

array([[[[0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.]],

        [[0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.]]],


       [[[0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.]],

        [[0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.],
         [0., 0., 0., 0., 0.]]]])

In [9]:
y.dtype

dtype('float64')

In [10]:
y.ndim

4

In [11]:

y=np.arange(2,200,20)
y

array([  2,  22,  42,  62,  82, 102, 122, 142, 162, 182])

In [12]:
x=np.arange(1,100,10)
2*x

array([  2,  22,  42,  62,  82, 102, 122, 142, 162, 182])

In [13]:
x*y

array([    2,   242,   882,  1922,  3362,  5202,  7442, 10082, 13122,
       16562])

In [14]:
##indexing#bolean_indexing

In [15]:
x=np.array((1,2,3,4,5))
x

array([1, 2, 3, 4, 5])

In [16]:
x[4],x[3]

(5, 4)

In [17]:
x[x>=5]

array([5])

In [18]:
#fancy_indexing

In [19]:
x[[2,4]]

array([3, 5])

In [20]:
#slicing

In [21]:
x=np.arange(1,200,2)
x

array([  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
        27,  29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,
        53,  55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,
        79,  81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103,
       105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129,
       131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155,
       157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181,
       183, 185, 187, 189, 191, 193, 195, 197, 199])

# how to import any csv or other extension file in python jupyter notebook

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv(r'C:\Users\faisa\Downloads\train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
x=np.array([1,7,9,8,5])

In [25]:
x[4]

5

In [26]:
x[x>5]

array([7, 9, 8])

In [27]:
x[[2,1]]

array([9, 7])

In [28]:
x=np.random.randn(10,10)
x

array([[ 0.49707928,  1.32542684, -0.45205705,  0.06550296,  1.66664903,
        -1.27626367, -0.09334376,  1.82812686, -0.07951494,  1.00162067],
       [ 0.68891217,  1.15633426,  0.91996293,  0.56857228,  0.37086698,
         0.5939751 ,  0.87922919, -0.25284149, -0.70709124, -0.41420307],
       [-0.45138522, -0.86891912, -2.01909148, -0.03182049,  1.0785891 ,
         0.63116906,  1.31777327,  0.02818162,  0.18493459, -1.35695073],
       [ 0.80778288, -1.90308021, -1.08084498,  0.80511981,  0.69894408,
         1.07870766,  1.06552482, -1.27990678,  1.22654993,  0.28409043],
       [-0.44686682,  0.34152236,  0.22411349,  1.46264653,  0.71862442,
         0.67603007,  0.3253849 , -1.22906082,  0.03128301, -0.86275724],
       [-0.13190823,  1.02422799, -0.09970343,  1.79697692,  3.22420351,
        -0.18601038,  0.59911395,  1.71775299,  0.85740507, -0.58718947],
       [ 1.17166727,  1.38830016, -0.74630618,  0.66056094,  0.35268993,
         1.11960589,  0.0294652 , -0.34140793, -1.01262364, -0.43405987],
       [-0.24209642, -0.90270373,  1.94893711,  0.35356063,  0.25939803,
         0.94688465, -0.11145473,  0.70703359, -1.59300961, -0.6270877 ],
       [-0.86156149, -0.24896674, -0.2885941 ,  0.08342433, -1.09531333,
        -1.16963831, -0.35729477,  0.80822976, -0.07460862,  0.29710704],
       [ 0.06867838, -0.54766192,  2.01988005, -0.3408426 ,  0.4738544 ,
        -0.02894094,  0.64737303, -0.29200848, -1.75311312,  0.51559355]])

In [29]:
x[0]

array([ 0.49707928,  1.32542684, -0.45205705,  0.06550296,  1.66664903,
       -1.27626367, -0.09334376,  1.82812686, -0.07951494,  1.00162067])

In [30]:
x[0,4]

1.666649032312134

In [31]:
x[1:10:2]#odd rows mtlab 1,3,5,7,9 is hisab sy rows chly ga

array([[ 0.68891217,  1.15633426,  0.91996293,  0.56857228,  0.37086698,
         0.5939751 ,  0.87922919, -0.25284149, -0.70709124, -0.41420307],
       [ 0.80778288, -1.90308021, -1.08084498,  0.80511981,  0.69894408,
         1.07870766,  1.06552482, -1.27990678,  1.22654993,  0.28409043],
       [-0.13190823,  1.02422799, -0.09970343,  1.79697692,  3.22420351,
        -0.18601038,  0.59911395,  1.71775299,  0.85740507, -0.58718947],
       [-0.24209642, -0.90270373,  1.94893711,  0.35356063,  0.25939803,
         0.94688465, -0.11145473,  0.70703359, -1.59300961, -0.6270877 ],
       [ 0.06867838, -0.54766192,  2.01988005, -0.3408426 ,  0.4738544 ,
        -0.02894094,  0.64737303, -0.29200848, -1.75311312,  0.51559355]])

In [32]:
x[::,0:4]#rows sari arhi hn mtlb 10 or columns sirf 4 hi hn

array([[ 0.49707928,  1.32542684, -0.45205705,  0.06550296],
       [ 0.68891217,  1.15633426,  0.91996293,  0.56857228],
       [-0.45138522, -0.86891912, -2.01909148, -0.03182049],
       [ 0.80778288, -1.90308021, -1.08084498,  0.80511981],
       [-0.44686682,  0.34152236,  0.22411349,  1.46264653],
       [-0.13190823,  1.02422799, -0.09970343,  1.79697692],
       [ 1.17166727,  1.38830016, -0.74630618,  0.66056094],
       [-0.24209642, -0.90270373,  1.94893711,  0.35356063],
       [-0.86156149, -0.24896674, -0.2885941 ,  0.08342433],
       [ 0.06867838, -0.54766192,  2.01988005, -0.3408426 ]])

In [33]:
x

array([[ 0.49707928,  1.32542684, -0.45205705,  0.06550296,  1.66664903,
        -1.27626367, -0.09334376,  1.82812686, -0.07951494,  1.00162067],
       [ 0.68891217,  1.15633426,  0.91996293,  0.56857228,  0.37086698,
         0.5939751 ,  0.87922919, -0.25284149, -0.70709124, -0.41420307],
       [-0.45138522, -0.86891912, -2.01909148, -0.03182049,  1.0785891 ,
         0.63116906,  1.31777327,  0.02818162,  0.18493459, -1.35695073],
       [ 0.80778288, -1.90308021, -1.08084498,  0.80511981,  0.69894408,
         1.07870766,  1.06552482, -1.27990678,  1.22654993,  0.28409043],
       [-0.44686682,  0.34152236,  0.22411349,  1.46264653,  0.71862442,
         0.67603007,  0.3253849 , -1.22906082,  0.03128301, -0.86275724],
       [-0.13190823,  1.02422799, -0.09970343,  1.79697692,  3.22420351,
        -0.18601038,  0.59911395,  1.71775299,  0.85740507, -0.58718947],
       [ 1.17166727,  1.38830016, -0.74630618,  0.66056094,  0.35268993,
         1.11960589,  0.0294652 , -0.34140793, -1.01262364, -0.43405987],
       [-0.24209642, -0.90270373,  1.94893711,  0.35356063,  0.25939803,
         0.94688465, -0.11145473,  0.70703359, -1.59300961, -0.6270877 ],
       [-0.86156149, -0.24896674, -0.2885941 ,  0.08342433, -1.09531333,
        -1.16963831, -0.35729477,  0.80822976, -0.07460862,  0.29710704],
       [ 0.06867838, -0.54766192,  2.01988005, -0.3408426 ,  0.4738544 ,
        -0.02894094,  0.64737303, -0.29200848, -1.75311312,  0.51559355]])

In [34]:
x=np.ones((5,5))
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [35]:
x[1:-1,1:-1]=0#first row ko skip krna hy or last ko skip krna hy is trha 1st column ko skip krna hy or last column ko skip krna hy
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [36]:
a=np.array([2,4,6])
b=a[0:2]
b

array([2, 4])

In [37]:
a=np.array([2,4,6,8])
a
b=a[1:]
b

array([4, 6, 8])

In [38]:
a=np.array([2,4,6,8])
a

array([2, 4, 6, 8])

In [39]:
b=a[3:]
b

array([8])

In [40]:
a=np.array([2,4,6,8])
a

array([2, 4, 6, 8])

In [41]:
b=a[0:4]#ye sab function same ik hi kam kr rahy hn
b
c=a[:4]
c
d=a[0:]
d
e=a[:]
e

array([2, 4, 6, 8])

In [42]:
a=np.array([[2,4,6,8],[10,20,30,40]])
a

array([[ 2,  4,  6,  8],
       [10, 20, 30, 40]])

In [43]:
b=a[:3,:3]#first 3columns out put dy ga 
b

array([[ 2,  4,  6],
       [10, 20, 30]])

In [44]:
b=a[:,:]#sari ki sari rows or sari ki sari columns outh kr ay gi
b

array([[ 2,  4,  6,  8],
       [10, 20, 30, 40]])

In [45]:
a=np.array([[2,4,6,8],[10,20,30,40]])
b=a[:2,:]#sari ki sari columns uth kr ay gi lakin rows just first 2
b

array([[ 2,  4,  6,  8],
       [10, 20, 30, 40]])

In [46]:
a=np.array([[10,20,30],
           [40,50,60],
            [70,80,90],
            [100,110,120]])
print(a[[0,2,3],[1,1,2]])

[ 20  80 120]

# reshaping arrays

In [47]:
x=np.arange(8)
x

array([0, 1, 2, 3, 4, 5, 6, 7])

In [48]:
a=x.reshape((2,4))
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [49]:
a=x.reshape((4,2))
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [50]:
arr=np.arange(15)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [51]:
arr.reshape(5,-1)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [52]:
scnd_array=np.ones((3,5))
scnd_array.shape
scnd_array

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [53]:
scnd_array.shape

(3, 5)

In [54]:
arr.reshape(scnd_array.shape)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [55]:
arr=np.arange(10).reshape(5,2)#The opposite operation of reshape from one-dimensional to a higher dimension is typically known as flattening or raveling:
arr

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [56]:
arr.ravel()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# concatination of two arrays

In [57]:
arr1=np.array([[1,2,3],[5,7,9]])
arr2=np.array([[10,11,12],[11,13,14]])
np.concatenate([arr1,arr2],axis=1)

array([[ 1,  2,  3, 10, 11, 12],
       [ 5,  7,  9, 11, 13, 14]])

In [58]:
np.vstack((arr1,arr2))#virtically stack(v_stack)ye 2 arrays ko vertically combine krway ga

array([[ 1,  2,  3],
       [ 5,  7,  9],
       [10, 11, 12],
       [11, 13, 14]])

In [59]:
np.hstack((arr1,arr2))#hprizontaly stack(h_stack)ye 2 arrays ko horizontally combine krwy ga

array([[ 1,  2,  3, 10, 11, 12],
       [ 5,  7,  9, 11, 13, 14]])

In [60]:
a=np.arange(6)
a

array([0, 1, 2, 3, 4, 5])

In [61]:
a.reshape(3,2)

array([[0, 1],
       [2, 3],
       [4, 5]])

In [62]:
a1=np.random.randn(3,2)
a1

array([[ 0.80118452, -1.28040091],
       [-1.80466267,  0.56538577],
       [-0.57361351, -1.30076957]])

# repeat function

In [63]:
a=np.arange(3)
a

array([0, 1, 2])

In [64]:
a.repeat(3)

array([0, 0, 0, 1, 1, 1, 2, 2, 2])

In [65]:
a.repeat([2,3,4])

array([0, 0, 1, 1, 1, 2, 2, 2, 2])

In [66]:
threedim=np.zeros((2,2,2))#three dimension array
threedim

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [67]:
print(np.__version__)#how to find the version of numpy

1.19.3

In [68]:
np.ones((3,3),dtype=bool)#creat a bolean type array

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

# how to extract required items from any array

In [69]:
arr=np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [70]:
arr[arr%2!=1]

array([0, 2, 4, 6, 8])

In [71]:
arr[arr%2!=0]

array([1, 3, 5, 7, 9])

In [80]:
a=np.array([[10,20,30],
           [40,50,60],
            [70,80,90],
            [100,110,120]])
print(a[[0,1,2,3],[0,0,0,1]]) #phli bracket ma [0,1,2,3] ka mtlb hy k first row ka first number(10),1 ka mtlb hy 2nd row
#issi trha ye 3 ka mtlb ho ga 4th row or 2nd wali bracket ka mtlb hy k (0,0,0,1)k first zero first row ma sy 10 ko pick kry 
#ga or issi trha second 0, 2nd row ma sy first element mtlb k 40 ko pick kry ga isi trha jo 1 hy hy wo 3rd row ma sy 2nd element
#ko pick kry ga jo k 110 hy

[ 10  40  70 110]